<section id="personal-branding">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell small-12 large-6 large-order-2">
        <h3 class="title hide-for-large">PERSONAL BRANDING</h3>
        <img
          src="{{ root }}assets/img/personal-branding-small.png"
          class="hide-for-xlarge"
          alt=""
        />
        <img
          src="{{ root }}assets/img/personal-branding-large.png"
          class="show-for-xlarge"
          alt=""
        />
      </div>
      <div class="cell small-12 large-6 large-order-1">
        <h3 class="title show-for-large">PERSONAL BRANDING</h3>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Consequat
          id porta nibh venenatis cras sed felis eget velit. Vel facilisis
          volutpat est velit egestas dui.
        </p>
      </div>
    </div>
  </div>
</section>
